accelerate==0.24.1
datasets==2.13.1
sentencepiece!=0.1.92
transformers==4.34.1
neptune
pdbpp
notebook
protobuf==3.20.*
pyyaml
pynvml
hydra-core
evaluate
nltk
absl-py
rouge_score
deepchem
selfies
tabulate
schedule
scikit-learn
wandb
fsspec==2023.6.0
rdkit==2022.09.3
rouge
bert_score
python-levenshtein==0.12.2